In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd

from cpra.cpra_calculation import (
    _cpra_donor_filtering_single,
    _cpra_haplotype_frequency_single,
    cpra_donor_filtering,
    cpra_haplotype_frequency,
)

In [2]:
COLUMN_UAS = {"recipient_id": "id", "unacceptable_antigen": "uas"}
COLUMN_HLA = {"donor_id": "id", "hla": "hla"}
COLUMN_HAPLOTYPE = {"frequency": "freq"}

In [3]:
df_hla = pd.read_csv("../data_private/250914_donor_hla.csv")
print(df_hla.head())

        id      hla
0  391;392  A*02:03
1  314;316  A*11:01
2      717  A*02:01
3        7  A*02:06
4      713  A*02:07

In [4]:
df_uas = pd.read_csv("../data_private/250914_unacceptable_antigen.csv")
print(df_uas.head())

print(df_uas[df_uas["id"] == 1]["uas"].tolist())

   id         uas
0   1  DRB1*09:01
1   1  DRB1*07:01
2   1  DRB3*03:01
3   1  DRB3*01:01
4   2  DRB1*09:01
['DRB1*09:01', 'DRB1*07:01', 'DRB3*03:01', 'DRB3*01:01']

In [5]:
df_haplotype = pd.read_csv("../data_private/250914_haplotype_frequency.csv")
print(df_haplotype.head())

         A        B        C        DQB1        DRB1      freq
0  A*33:03  B*58:01  C*03:02  DQB1*02:01  DRB1*03:01  0.039326
1  A*02:07  B*46:01  C*01:02  DQB1*03:03  DRB1*09:01  0.035915
2  A*11:01  B*15:02  C*08:01  DQB1*03:01  DRB1*12:02  0.025820
3  A*11:01  B*46:01  C*01:02  DQB1*03:03  DRB1*09:01  0.018996
4  A*02:03  B*38:02  C*07:02  DQB1*05:02  DRB1*16:02  0.014012

In [6]:
cpra_donor_filtering(
    unacceptable_antigen=df_uas,
    donor_hla=df_hla,
    unacceptable_antigen_columns=COLUMN_UAS,
    donor_hla_columns=COLUMN_HLA,
)

      id       cpra
0      1  33.143670
1      2  33.143670
2      4  31.721195
3      5  36.415363
4      6   0.000000
..   ...        ...
554  400  70.981508
555  401  70.981508
556  405  60.739687
557  406  60.739687
558  407  60.739687

[559 rows x 2 columns]

In [7]:
cpra_haplotype_frequency(
    unacceptable_antigen=df_uas,
    haplotype_frequency=df_haplotype,
    loci=["A", "B", "C", "DRB1", "DQB1"],
    unacceptable_antigen_columns=COLUMN_UAS,
    haplotype_frequency_column=COLUMN_HAPLOTYPE,
)

Calculating CPRA: 100%|██████████████████████████████| 559/559 [00:11<00:00, 48.23it/s]

      id       cpra
0      1  33.448779
1      2  33.448779
2      3   7.260092
3      4  31.225680
4      5  36.204700
..   ...        ...
554  555   0.851665
555  556   0.142197
556  557  13.718903
557  558  13.718903
558  559  13.718903

[559 rows x 2 columns]

In [8]:
_cpra_donor_filtering_single(
    ["DRB1*09:01", "DRB1*07:01", "DRB3*03:01", "DRB3*01:01"],
    donor_hla=df_hla,
    donor_hla_columns=COLUMN_HLA,
)

33.14366998577525

In [9]:
_cpra_haplotype_frequency_single(
    ["DRB1*09:01", "DRB1*07:01", "DRB3*03:01", "DRB3*01:01"],
    haplotype_frequency=df_haplotype,
    loci=["A", "B", "C", "DRB1", "DQB1"],
    haplotype_frequency_column=COLUMN_HAPLOTYPE,
)

np.float64(33.44877922029752)